---
layout: sidebar
---
<div data-typespecificid="{{ page.id }}" itemscope="" itemtype="http://schema.org/Recipe" data-itemtype="Recipe" data-itemtypeid="1">
  <h1 id="itemTitle" itemprop="name"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-9">
        <p class="meta text-muted">Categories: {{ page.categories | array_to_sentence_string | replace: ', and ', ' og ' | replace: ' and ', ' og ' }}</p>
      </div>
      <div class="col-xs-3 col-md-3" id="rating">
        <div class="pull-right" id="pd_rating_holder_1234567"></div>
      </div>
    </div>
  </div>
 <!--<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="4.{{ page.title | size | modulo:8 }}" />
  </div>-->
  <div class="post">
    <span itemprop="description">
      {{ content | replace_first: 'img src', 'img id="imgPhoto" itemprop="image" src' }}
    </span>
  </div>
  <p class "meta text-muted">
  Udgivet af <a itemprop="publisher" href="https://plus.google.com/">Femme Food</a> d. <abbr class="published updated" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</abbr> - 
  <a href="{{ page.url }}" rel="bookmark">Permalink</a>
  </p>
  <p class="meta text-muted">Ingredients: {{ page.tags | array_to_sentence_string | replace: ', and ', ' og ' | replace: ' and ', ' og ' }}</p>
  {% include social.html %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
  var disqus_shortname = '{{ site.disqus }}';
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Leaderboard -->
  <ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-1234567890"
     data-ad-slot="1234567"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
